In [57]:
import pandas as pd

In [58]:
titles = pd.read_csv("../content/cleaned_movie_db.csv")

In [59]:
credits = pd.read_csv("../content/cleaned_credits.csv")

In [60]:
titles = pd.DataFrame(titles)
credits = pd.DataFrame(credits)

In [61]:
imdb_score = titles[titles['imdb_score']>=8.0]
imdb_score.head()

,index,title,id,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2
1,4,The Exorcist,tm190788,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
8,13,Richard Pryor: Live in Concert,tm69997,MOVIE,1979,R,78,"[''comedy'', ''documentation'']",['US'],tt0079807,8.1,5141.0,4.681,7.5
14,48,Stand by Me,tm111075,MOVIE,1986,R,89,['drama'],['US'],tt0092005,8.1,392790.0,16.096,7.9
15,49,Once Upon a Time in America,tm180542,MOVIE,1984,R,229,"[''drama'', ''crime'', ''european'']","[''US'', ''IT'']",tt0087843,8.3,342335.0,21.322,8.4

In [62]:
imdb_sort = imdb_score.sort_values(['imdb_score'], ascending=False)
imdb_sort.head(5)

,index,title,id,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
104,260,Inception,tm92641,MOVIE,2010,PG-13,148,"[''scifi'', ''music'', ''thriller'', ''action'']","[''GB'', ''US'']",tt1375666,8.8,2268288.0,109.090,8.4
40,108,Forrest Gump,tm122434,MOVIE,1994,PG-13,142,"[''drama'', ''romance'', ''comedy'']",['US'],tt0109830,8.8,1994599.0,57.114,8.5
1383,4944,Bo Burnham: Inside,tm1038686,MOVIE,2021,R,87,"[''comedy'', ''drama'', ''music'', ''reality'']",['US'],tt14545352,8.7,44074.0,12.489,8.3
240,519,A Lion in the House,tm25842,MOVIE,2006,NaN,225,['documentation'],['US'],tt0492472,8.7,312.0,2.821,6.5
42,111,Saving Private Ryan,tm57554,MOVIE,1998,R,169,"[''drama'', ''war'']",['US'],tt0120815,8.6,1346020.0,54.874,8.2

In [63]:
g = imdb_score["age_certification"].str.contains('G').sum()
pg = imdb_score["age_certification"].str.contains('PG').sum()
pg13 = imdb_score["age_certification"].str.contains('PG-13').sum()
r = imdb_score["age_certification"].str.contains('R').sum()
print (g, pg, pg13, r)

11 10 9 18

In [64]:
average_runtime = imdb_score["runtime"].mean()
average_runtime

108.07272727272728

In [65]:
genre_list = imdb_score["genres"].tolist()
genres = []
genres.append(genre_list)
print (genres)

[["[''crime'', ''drama'']", "['horror']", "[''comedy'', ''documentation'']", "['drama']", "[''drama'', ''crime'', ''european'']", "[''drama'', ''war'']", "[''drama'', ''romance'', ''comedy'']", "[''drama'', ''war'']", "[''scifi'', ''music'', ''thriller'', ''action'']", "[''fantasy'', ''animation'', ''action'', ''comedy'', ''family'', ''drama'']", "[''thriller'', ''action'', ''european'']", "[''drama'', ''fantasy'', ''romance'']", "[''thriller'', ''action'']", "['drama']", "[''thriller'', ''drama'']", "['comedy']", "[''comedy'', ''documentation'']", "[''drama'', ''european'']", "['documentation']", "[''western'', ''drama'']", "[''drama'', ''action'', ''sport'']", "[''comedy'', ''documentation'']", "['comedy']", "['comedy']", "[''drama'', ''romance'', ''scifi'']", "[''thriller'', ''drama'', ''war'']", "[''drama'', ''action'', ''sport'', ''european'']", "[''documentation'', ''sport'']", "[''comedy'', ''music'', ''documentation'']", "['documentation']", "[''drama'', ''documentation'', ''comedy'', ''romance'']", "[''comedy'', ''documentation'']", "[''drama'', ''history'', ''documentation'']", "['comedy']", "['documentation']", "[''documentation'', ''history'', ''crime'']", "[''comedy'', ''music'', ''documentation'']", "[''scifi'', ''thriller'', ''action'', ''drama'']", "[''documentation'', ''music'']", "['documentation']", "[''comedy'', ''documentation'']", "['documentation']", "[''documentation'', ''music'']", "['documentation']", "['documentation']", "['comedy']", "[''documentation'', ''history'', ''european'']", "['comedy']", "['documentation']", "['documentation']", "['documentation']", "[''comedy'', ''drama'', ''music'', ''reality'']", "['comedy']", "['documentation']", "['documentation']"]]

In [66]:
crime = imdb_score["genres"].str.contains('crime').sum()
drama = imdb_score["genres"].str.contains('drama').sum()
horror = imdb_score["genres"].str.contains('horror').sum()
comedy = imdb_score["genres"].str.contains('comedy').sum()
documentation = imdb_score["genres"].str.contains('documentation').sum()
war = imdb_score["genres"].str.contains('war').sum()
romance = imdb_score["genres"].str.contains('romance').sum()
thriller = imdb_score["genres"].str.contains('thriller').sum()
scifi = imdb_score["genres"].str.contains('scifi').sum()
animation = imdb_score["genres"].str.contains('animation').sum()
action = imdb_score["genres"].str.contains('action').sum()
music = imdb_score["genres"].str.contains('music').sum()
reality = imdb_score["genres"].str.contains('reality').sum()
history = imdb_score["genres"].str.contains('history').sum()
sport = imdb_score["genres"].str.contains('sport').sum()
western = imdb_score["genres"].str.contains('western').sum()
family = imdb_score["genres"].str.contains('family').sum()

In [67]:
print (crime)
print (drama)
print (horror)
print (comedy)
print (documentation)
print (war)
print (romance)
print (thriller)
print (scifi)
print (animation)
print (action)
print (music)
print (reality)
print (history)
print (sport)
print (western)
print (family)

3
20
1
18
26
3
4
6
3
1
7
6
1
3
3
1
1

In [68]:
mcredits = imdb_score.merge(credits, on = "id")
mcredits.head(5)

,index_x,title,id,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,index_y,person_id,name,role
0,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2,0,3748,Robert De Niro,ACTOR
1,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2,1,14658,Jodie Foster,ACTOR
2,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2,2,7064,Albert Brooks,ACTOR
3,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2,3,3739,Harvey Keitel,ACTOR
4,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2,4,48933,Cybill Shepherd,ACTOR

In [69]:
credits_sort = mcredits.sort_values(['imdb_score'], ascending=False)
credits_sort.head(5)

,index_x,title,id,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,index_y,person_id,name,role
442,260,Inception,tm92641,MOVIE,2010,PG-13,148,"[''scifi'', ''music'', ''thriller'', ''action'']","[''GB'', ''US'']",tt1375666,8.8,2268288.0,109.090,8.4,4870,2740,Michael Gaston,ACTOR
298,108,Forrest Gump,tm122434,MOVIE,1994,PG-13,142,"[''drama'', ''romance'', ''comedy'']",['US'],tt0109830,8.8,1994599.0,57.114,8.5,1827,598576,Timothy McNeil,ACTOR
270,108,Forrest Gump,tm122434,MOVIE,1994,PG-13,142,"[''drama'', ''romance'', ''comedy'']",['US'],tt0109830,8.8,1994599.0,57.114,8.5,1799,3202,Mike Jolly,ACTOR
269,108,Forrest Gump,tm122434,MOVIE,1994,PG-13,142,"[''drama'', ''romance'', ''comedy'']",['US'],tt0109830,8.8,1994599.0,57.114,8.5,1798,3203,Matt Wallace,ACTOR
268,108,Forrest Gump,tm122434,MOVIE,1994,PG-13,142,"[''drama'', ''romance'', ''comedy'']",['US'],tt0109830,8.8,1994599.0,57.114,8.5,1797,3204,Don Fischer,ACTOR

In [70]:
new_credits_sort = credits_sort.drop(columns=["index_x", "movie", "release_year", "age_certification", "runtime", "genres", "production_countries", "tmdb_popularity", "tmdb_score",
                                              "index_y"])
new_credits_sort.head()

,title,id,imdb_id,imdb_score,imdb_votes,person_id,name,role
442,Inception,tm92641,tt1375666,8.8,2268288.0,2740,Michael Gaston,ACTOR
298,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,598576,Timothy McNeil,ACTOR
270,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,3202,Mike Jolly,ACTOR
269,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,3203,Matt Wallace,ACTOR
268,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,3204,Don Fischer,ACTOR

In [71]:
new_credits_sort.nunique()

title           55
id              55
imdb_id         55
imdb_score       9
imdb_votes      55
person_id     1282
name          1282
role             2
dtype: int64

In [72]:
actors = new_credits_sort.sort_values('role')
actors2 = actors[actors['role']=="ACTOR"]
actors_sort = actors2.sort_values(['imdb_score'], ascending=False)
actors_sort

,title,id,imdb_id,imdb_score,imdb_votes,person_id,name,role
442,Inception,tm92641,tt1375666,8.8,2268288.0,2740,Michael Gaston,ACTOR
294,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,3222,Nora Dunfee,ACTOR
253,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,77150,George Kelly,ACTOR
252,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,77151,Sonny Shroyer,ACTOR
288,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,3219,Dick Cavett,ACTOR
...,...,...,...,...,...,...,...,...
980,The Imitation Game,tm140877,tt2084970,8.0,748654.0,76755,Guna Gultniece,ACTOR
979,The Imitation Game,tm140877,tt2084970,8.0,748654.0,76784,James Gard,ACTOR
995,The Imitation Game,tm140877,tt2084970,8.0,748654.0,76762,David G. Robinson,ACTOR
997,The Imitation Game,tm140877,tt2084970,8.0,748654.0,76788,Mark Underwood,ACTOR
501,Casino Royale,tm39030,tt0381061,8.0,644336.0,3584,Crispin Bonham-Carter,ACTOR

In [73]:
print(actors_sort['name'].value_counts())

Bo Burnham               3
Leonardo DiCaprio        3
Bill Burr                3
Tom Hanks                2
Leo Stransky             2
                        ..
Albert Brooks            1
Mark Frazer              1
Louise Fletcher          1
Matthew Modine           1
Crispin Bonham-Carter    1
Name: name, Length: 1235, dtype: int64

In [74]:
directors = new_credits_sort.sort_values('role')
directors2 = directors[directors['role']=="DIRECTOR"]
directors_sort = directors2.sort_values(['imdb_score'], ascending=False)
directors_sort

,title,id,imdb_id,imdb_score,imdb_votes,person_id,name,role
317,Forrest Gump,tm122434,tt0109830,8.8,1994599.0,3238,Robert Zemeckis,DIRECTOR
448,Inception,tm92641,tt1375666,8.8,2268288.0,1725,Christopher Nolan,DIRECTOR
711,A Lion in the House,tm25842,tt0492472,8.7,312.0,375281,Julia Reichert,DIRECTOR
712,A Lion in the House,tm25842,tt0492472,8.7,312.0,375280,Steven Bognar,DIRECTOR
1317,Bo Burnham: Inside,tm1038686,tt14545352,8.7,44074.0,308,Bo Burnham,DIRECTOR
...,...,...,...,...,...,...,...,...
896,Sebastian Maniscalco: What's Wrong with People?,tm53034,tt2215489,8.0,1194.0,65462,Manny Rodriguez,DIRECTOR
1315,The Alpinist,tm937814,tt11790780,8.0,7192.0,387166,Peter Mortimer,DIRECTOR
1273,The Silence of Others,tm369389,tt8099236,8.0,2048.0,391989,Robert Bahar,DIRECTOR
1001,The Imitation Game,tm140877,tt2084970,8.0,748654.0,76789,Morten Tyldum,DIRECTOR
1272,The Silence of Others,tm369389,tt8099236,8.0,2048.0,391988,Almudena Carracedo,DIRECTOR

In [75]:
print(directors_sort['name'].value_counts())

Christopher Storer         3
Bo Burnham                 3
Stan Lathan                2
Jay Karas                  2
Manny Rodriguez            2
Spike Jonze                1
Nick Rosen                 1
Kief Davidson              1
Martin Campbell            1
Robert Zemeckis            1
Jeff Orlowski              1
Ali Tabrizi                1
Chris Sanders              1
Jeff Margolis              1
William Friedkin           1
Mike Binder                1
Shannon Hartman            1
Edward Zwick               1
Denis Villeneuve           1
Jehane Noujaim             1
Paul Greengrass            1
Seth Barrish               1
Pedro Kos                  1
Tim Burton                 1
Maclain Way                1
Chapman Way                1
Peter Mortimer             1
Robert Bahar               1
Morten Tyldum              1
Dean DeBlois               1
Ashutosh Gowariker         1
Ron Howard                 1
Sean Penn                  1
Julia Reichert             1
Steven Bognar              1
Steven Spielberg           1
Shantrelle P. Lewis        1
Thom Zimny                 1
Quentin Tarantino          1
Louis C.K.                 1
Evgeny Afineevsky          1
Jon Alpert                 1
Paul Dugdale               1
Martin Scorsese            1
Sergio Leone               1
Stanley Kubrick            1
Sam Feder                  1
Gavin O'Connor             1
Ryan Polito                1
Joshua Tickell             1
Jake Szymanski             1
Ava DuVernay               1
Rebecca Harrell Tickell    1
Keegan Kuhn                1
Rob Reiner                 1
Christopher Nolan          1
Almudena Carracedo         1
Name: name, dtype: int64

In [76]:
# Export DataFrames to csv: Movies with the Top IMDB scores
imdb_score.to_csv('Top_scores.csv')

# Export DataFrames to csb: Top Rated actors
actors2.to_csv('Top_actors.csv')

# Exporting Top Directors
directors2.to_csv('Top_Directors.csv')